* {
    box-sizing: border-box;
}

body {
    background-color: green;
    margin: 0;
    padding: 20px;
}

main {
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    margin: 0 auto;
    width: 550px;
    padding: 20px;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-tray {
    display: grid;
    gap: 20px;
    grid-template: auto auto / repeat(5, 1fr);
}

.die-face {
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.roll-dice {
    background-color: #5035FF;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    height: 50px;
    width: 100px;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}